:root {
    --popins-font: 'Poppins', sans-serif;
    --lato-font: 'Lato', sans-serif;
}

.content {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    font-family: var(--popins-font);
}

h1 {
    padding-top: 160px;
    font-size: 57px;
    font-weight: 600;
}

.pages {
    padding: 0;
    margin-top: 10px;
    word-spacing: 20px;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: rgb(109, 113, 116);
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    background-color: white;
}

nav img {
    max-width: 45px;
    border-radius: 50%;
}

a:hover {
    color: rgb(140, 140, 238);
    font-weight: bold;
}

nav li.active a {
    color: rgb(140, 140, 238);
    font-weight: bold;
}






.margin_h1 {
    margin-bottom: 100px;
}

.button_of_project {
    border: 1px solid blue;
    padding: 18px 27px;
    font-family: var(--popins-font);
    text-decoration: none;
    border-radius: 4px;
    color: blue;
}

.button_of_project:hover {
    color: black;
    border: 1px solid black;
}

footer {
    margin: 60px 0;
}

.contact-text h4 {
    font-size: 40px;
    font-weight: bold;
    font-family: var(--popins-font);
}

.contact-text p {
    color: gray;
    font-family: var(--lato-font);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.contact-text {
    padding: 50px 160px;
}

.contact-text p, h4 {
    margin: 0;
}

.body-footer-block {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 1320px;
}


.contact-block {
    display: flex;
    justify-content: space-between;
    background-color: rgba(236, 243, 245, 0.966);
    border-radius: 20px;
}

.padding-button {
    padding: 75px 160px;
}

.email {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: var(--lato-font);
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 48px;
}

.email a {
    color: black;
}

.email a:hover {
    color: rgb(140, 140, 238);
}

.media {
    display: flex;
    justify-content: center;
}

.media a {
    color: rgb(140, 140, 238);
    margin: 0 20px;
    padding: 10px 17px;
    font-size: 28px;
    background-color: rgba(236, 243, 245, 0.966);
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

.media a:hover {
    color: white;
    background-color: rgb(140, 140, 238);
}


.open-code {
    color: black;
    text-align: center;
    padding-bottom: 50px;
}

p a {
    color: rgb(140, 140, 238);
}

p {
    font-family: var(--lato-font);
    font-size: 20px;
    font-weight: 400;
}



@media (max-width: 800px) {
    nav {
        justify-content: space-evenly;
    }
    .content {
        padding: 0px 40px;
    }
    .content h1 {
        font-size: 32px;
        margin-bottom: 30px;
    }
    h1 {
        padding-top: 100px;
        font-size: 48px;
        text-align: center;
    }
    .contacts {
        text-align: center;
    }
    .contact-block {
        display: none;
    }
    .email {
        font-size: 24px;
    }
}